BODY{
	margin:0;
	background:rgb(118, 155, 255)
}
.shapka {
	display:flex;
	width:100%;
	height:100px;
	background:url(header.jpg);
	text-align: center;
	}
.logo_name{
	display: flex;
	margin:auto;
	max-width:960px;
}
.logo_name h1{
	margin: auto;
}

.nav{
	width:960px;
	margin:0 auto;
	background:rgb(143, 113, 212);
	padding:5px 0 5px 0;
	text-align: center
}
.nav a{
	color:rgb(255, 255, 255)
}

.spisok_table_form_back{
	margin:0 auto;
	width:960px;
	background:rgb(169, 150, 255)
}

.nch_table{
	color:rgb(255, 255, 255);
	background:rgb(37, 0, 48)
}
.ch_table{
	color:rgb(37, 0, 48)
}

.footer{
	display:flex;
	width:100%;
	height:70px;
	background-color: rgb(143, 113, 212);
}

.footer p{
	margin:auto;
	text-align: center;
	max-width:150px
}

.shapka img {
	margin:auto;
	float:left;
	width:100px;
	height:100px;
}
#top{margin:0}